include mixins
 
+panelHead()
    | CONTACT ME
    br
    | Via These
ul
    +showSquare()
        h3 
            a( href="http://<sociallink>" ) Social
    +showSquare()
        h3
            a( href="http://<sociallink>" ) Social
    +showSquare()
        h3
            a( href="http://<sociallink>" ) Social
    +showSquare()
        h3
            a( href="http://<sociallink>" ) Social