include mixins
 
+panelHead()
    | CONTACT ME
    br
    | Via These
ul
    +showSquare()
        h3  
            a( href="mailto:vitaliykrushinsky@gmail.com" )
                span( class="fa fa-envelope" )
                |  vitaliykrushinsky@gmail.com
    +showSquare()
        h3
            a( href="skype:skynter1?add" )
                span( class="fa fa-skype" )
                |  skynter1
    +showSquare()
        h3
            a( href="https://www.facebook.com/vitaliy.krushinsky", target="_blank" )
                span( class="fa fa-facebook-square" )
                |  Facebook
    +showSquare()
        h3
            a( href="https://www.linkedin.com/in/vitaliykrushinsky", target="_blank" )
                span( class="fa fa-linkedin-square" )
                |  LinkedIn