h1.wow.slideInDown( data-wow-duration="1s" ) Hello
h3.wow.slideInRight( data-wow-duration="1s", data-wow-delay="1s" ) I'm Vitaliy Krushinsky
p.wow.slideInLeft( data-wow-duration="1s", data-wow-delay="2s" ) Specializes in web development. In the web space my focus is front end development and full stack development using JavaScript language on both side that makes development more efficient, flexible and power. I like Nodejs platform that give us super power Ecosystem called Node Package Registry. 