h1.wow.slideInDown( data-wow-duration="1s" ) Hello
h3.wow.slideInLeft( data-wow-duration="1s", data-wow-delay="1s" )
    | I'm Vitaliy Krushinsky,
    br
    | Web developer
div.about
    h5.wow.zoomIn( data-wow-duration="1s", data-wow-delay="2s" ) In the web space my focus is front-end and back-end development using JavaScript language on both side that makes development more efficient, flexible and power.