include mixins

+panelHead()
    | My Skills Are...
ul
    //- Start square
    +showSquare()
        h3 HTML
        ul
            li Html, Html5
            li <strong>Html template:</strong>
                br
                | Jade
    //- End square
    //- Start square
    +showSquare()
        h3 CSS
        ul
            li CSS, CSS3
            li <strong>Framework:</strong>
                br
                | Bootstrap
            li <strong>Preprocessors:</strong> 
                br
                | Less,
                | Stylus,
                | Sass
            li <strong>Sass Grid System:</strong>
                br
                | Susy
            li <strong>Sass Framework:</strong>
                | Compass      
    //- End square
    //- Start square
    +showSquare()
        h3 JavaScript
        ul
            li <strong>JavaScript:</strong>
                    br
                    | ES6,
                    | Ajax,
                    | JSON
                    br
                    | Node
                    br
                    | RESTful API
            li <strong>MV* Frameworks:</strong>
                br
                | Angular,
                | Express
            li <strong>Library:</strong> 
                | jQuery
            li <strong>Node Packages:</strong>
                br
                | Gulp,
                | Grunt,
                | Bower,
                | Yeoman
            li <strong>Polyfills:</strong>
                | Modernizer, Respond
    //- End square
    //- Start square
    +showSquare()
        h3 Others
        ul
            li <strong>VCS:</strong> Git(Github)
            li <strong>CMS:</strong> WordPress
            li <strong>OS:</strong> Windows, Linux
            li <strong>Web-developer toolkit:</strong>
                br
                | Emmet
            li <strong>Tools:</strong> 
                | Sublime Text,
                br
                | Brackets,
                br
                | Visual Studio Code,
                br
                | Photoshop,
                br
                | Balsamiq Mockups,
    //- End square