h1
    | My Skills Are...
ul
    //- Start square
    li
        h3 Skill One
        ul
            li HTML
            li Extra Info
            li More info
    //- End square
    //- Start square
    li
        h3 Skill Two
        ul
            li CSS
            li Extra Info
            li More info
    //- End square
    //- Start square
    li
        h3 Skill Three
        ul
            li JavaScript
            li Extra Info
            li More info
    //- End square