include mixins

+panelHead()
    | My Skills Are...
ul
    //- Start square
    +showSquare()
        h3 HTML
        ul
            li HTML
            li Extra Info
            li More info
    //- End square
    //- Start square
    +showSquare()
        h3 CSS
        ul
            li CSS
            li Extra Info
            li More info
    //- End square
    //- Start square
    +showSquare()
        h3 JavaScript
        ul
            li JavaScript
            li Extra Info
            li More info
    //- End square