include mixins
 
+panelHead()
    | I work with these tools
ul
    +showSquare()
        h3 Tool Name
    +showSquare()
        h3 Tool Name
    +showSquare()
        h3 Tool Name
    +showSquare()
        h3 Tool Name
    +showSquare()
        h3 Tool Name
    +showSquare()
        h3 Tool Name
    +showSquare()
        h3 Tool Name
    +showSquare()
        h3 Tool Name
    +showSquare()
        h3 Tool Name
    +showSquare()
        h3 Tool Name
    +showSquare()
        h3 Tool Name
    +showSquare()
        h3 Tool Name