include mixins
 
+panelHead()
    | I create these types of projects
ul
    +showSquare()
        h3 weatherSPA
        ul
            li 
                a(href="http://vitaliykrushinsky.github.io/weatherSPA/#/", target="_blank") 
                    span(class="fa fa-cog fa-spin")
                    |Forecast by City
            li
                a(href="https://github.com/vitaliykrushinsky/weatherSPA", target="_blank") 
                    span(class="fa fa-github-alt fa-lg")
                    | GitHub Repo
    +showSquare()
        h3 Roux Academy
        ul
            li 
               a(href="https://webrouxapp.herokuapp.com/", target="_blank") 
                    span(class="fa fa-cog fa-spin")
                    |Bootstrap project
            li
                a(href="https://github.com/vitaliykrushinsky/weatherSPA", target="_blank") 
                
                    | Heroku Repo 
    +showSquare()
        h3 Project Type
        ul
            li More info
    +showSquare()
        h3 Project Type
        ul
            li More info