include mixins
 
+panelHead()
    | I create these types of projects
ul
    +showSquare()
        h3 Forecast by City
        ul
            li 
                a(href="http://vitaliykrushinsky.github.io/weatherSPA/#/", target="_blank") 
                    span(class="fa fa-cog fa-spin")
                    |  Angularjs SPA
            li
                a(href="https://github.com/vitaliykrushinsky/weatherSPA/", target="_blank") 
                    span(class="fa fa-github-alt fa-lg")
                    |  GitHub Repo
    +showSquare()
        h3 Roux Academy
        ul
            li 
               a(href="https://webrouxapp.herokuapp.com/", target="_blank") 
                    span(class="fa fa-cog fa-spin")
                    |  Bootstrap project
            li
                a(href="https://github.com/vitaliykrushinsky/herokuApp_RouxAcademy/", target="_blank") 
                    span(class="fa fa-github-alt fa-lg")
                    |  GitHub Repo
    +showSquare()
        h3 ResponsiveSPA
        ul
            li 
               a(href="http://vitaliykrushinsky.github.io/ResponsiveSingleWebPage/", target="_blank") 
                    span(class="fa fa-cog fa-spin")
                    |  Single page of site based on Sass, Compass, Susy, Gulp
            li
                a(href="https://github.com/vitaliykrushinsky/ResponsiveSingleWebPage/", target="_blank") 
                    span(class="fa fa-github-alt fa-lg")
                    |  GitHub Repo
    +showSquare()
        h3 BootstrapSPA
        ul
            li 
               a(href="http://vitaliykrushinsky.github.io/bootstrapSinglePage/", target="_blank") 
                    span(class="fa fa-cog fa-spin")
                    |  Single page of site based on Bootstrap
            li
                a(href="https://github.com/vitaliykrushinsky/bootstrapSinglePage/", target="_blank") 
                    span(class="fa fa-github-alt fa-lg")
                    |  GitHub Repo