include mixins
 
+panelHead()
    | I create these types of projects
ul
    +showSquare()
        h3 Project Type
        ul
            li More info
    +showSquare()
        h3 Project Type
        ul
            li More info
    +showSquare()
        h3 Project Type
        ul
            li More info
    +showSquare()
        h3 Project Type
        ul
            li More info