doctype html
html( lang="en" )
    head
        title
            block title
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        link( href='css/style.css', rel='stylesheet', type='text/css' )
        link( href='http://fonts.googleapis.com/css?family=Bangers|Indie+Flower', rel='stylesheet', type='text/css' )
        link( href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
        script( src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='js/site.min.js' )
        script(type='text/javascript').
                //- var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0)
                //- if (w > 1200) new WOW().init()
                new WOW().init()
    body
        block content