doctype html
html(lang='en')
	head
	body
		div Hello world!
		h1
			| This is a heading but I'd like to have
			br
			| a line break in it
		p#id.class Hi!
		a(href="") link
		//- base.jade
		header.pagetitle
			h1
				block pagetitle
			p 
				block par 
 
		main.pagecontent
			block pagecontent