extends templates/wrapper
 
block title
    | Static Site With Prepros
 
block content
    #section01.pane.hello
        .wrapper
            include content/hello
            a( class="next wow bounceIn", href="#section02", data-wow-delay="3s" ) NEXT
    #section02.pane.skills
        .wrapper
            a( class="prev", href="#section01" ) PREV
            include content/skills
            a( class="next wow bounceIn", href="#section03", data-wow-delay=( delay -= stagger ) + "s" ) NEXT
    #section03.pane.types
        .wrapper
            a( class="prev", href="#section02" ) PREV
            include content/types
            a( class="next wow bounceIn", href="#section04", data-wow-delay=( delay -= stagger ) + "s" ) NEXT
    #section04.pane.contact
        .wrapper
            a( class="prev",href="#section03" ) PREV
            include content/contact